.main-title{
    font-family:'Lobster';
    color:'black';
}
.title {
    font-family : 'Lobster';
    color:'orange';
}
.text {
    font-family : 'serif';
    color:'green';
}
.text-link{
    text-decoration:'none';
}