{% extends 'polls_3/base.html' %}

{% block content %}
    <div>
        <h2 class="title">List of Question</h2>
    </div>
    <div>
        {% if list_of_question %}
        <ol>
            {% for question in list_of_question %}
            <li><div class="text-link">
                <a href="{% url 'detail' question.id %}" class="text">{{ question.question_text }}</a>
                <a href="{% url 'edit' pk=question.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div></li>
            {% endfor %}
        </ol>
        {% endif %}
        <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
{% endblock %}